<div class="container" ng-controller="CheckoutCtrl as ctrl">

    <div class="page-header">
        <h1>FSF GROCERIES MANAGEMENT
            <small>Check Out</small>
        </h1>
    </div>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>UPC12</th>
            <th>Brand</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <form class="form-group" name="Form">    
        <tr ng-repeat="i in ctrl.groceries">
            <td>{{i.id}} </td>   
            <td>
               <input type="number" class ="form-control" ng-model="i.upc12" minlength="12" required/>
            </td>
            <td>
               <input type="text" class ="form-control" ng-model="i.brand" minlength="4"required/>
            </td>
            <td>
                <input type="text" class ="form-control" ng-model="i.name" minlength="10" required>
            <td>                                
                <button type="button" class="btn btn-primary"
                        ng-click="ctrl.updateRec(i.id)" ng-disabled="Form.$invalid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>-->
                </button>
                <button type="button" class="btn btn-danger"
                        ng-click="ctrl.gonext()">
                        <i class="fa fa-ban" aria-hidden="true"></i>-->
                </button>

            </td>
        </tr>
        </form>
            
        </tbody>
    </table>
   
</div>

