<div class="container" ng-controller="SearchDBCtrl as ctrl">

    <div class="page-header">
        <h2>FSF GROCERIES MANAGEMENT
            <small>SearchStore</small>
        </h2>
    </div>

    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <input id="searchString"
                   class="form-control"
                   size="50"
                   type="text"
                   name="searchString"
                   ng-model="ctrl.searchString"
                   minlength = "3"
                   required
                   placeholder="Enter item brand or name: min 3 characters  ">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Items
            </button>
        </div>
        <p class=container>Found Item Qty is: {{ctrl.groceriesQty}}</p>
    </form>
    <hr>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>    </th>
            <th>Brand</th>
            <th>Name</th>
            
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.groceries | orderBy: 'name'">
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" alt=""></td>
            <td>{{item.brand }}</td>
            <td>{{ item.name }}</td>
            <td>                                
                <button type="button" class="btn btn-primary"
                        ng-click="ctrl.select(item.id); ctrl.gonext()">Edit</button>
  
                <!--<button type="button" class="btn btn-danger"
                        ng-click="ctrl.deleteRec(item.id)">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>-->
            </td>
        </tr>
            
        </tbody>
    </table>
    
</div>